<template>
    <require from="./page-summary"></require>
    <!--<div class="row">-->
        <!--<div class="col-xs-7 text-left"><h4>Available Pages:</h4></div>-->
    <!--</div>-->
    <ul class="list-group content-full">
        <page-summary repeat.for="page of readingManager.viewablePages" page.bind="page" reading-id.bind="readingManager.reading.id" story-id.bind="readingManager.story.id"></page-summary>
    </ul>
    <div class="text-center content-top-padding" show.bind="readingManager.viewablePages.length == 0"><h4>There are no pages available to read. Oops!</h4></div>
</template>